<div class="center-items">
  <h1>LetsGO Talk</h1>&nbsp;
  <h5>WS chat</h5>
</div>
@if(currentUsername != null && currentUsername.length > 0) {
  @if(messages != null && messages.length > 0) {
    <chat-container
      [messages]="messages"
    ></chat-container>
  }
  <br>
  <div class="center-items">
    <input class="input-minimal" id="typping" type="text" (change)="getValue($event)">
    <button class="btn-minimal" (click)="sendMessage()">Send Message</button>
  </div>
} @else {
  <div class="center-items">
    <input class="input-minimal" id="user" type="text" (change)="getValue($event)">
    <button class="btn-minimal">Username</button>
  </div>
}
